/* / / / / / / / / / / / / / / / / / / / / */
/* TYPOGRAPHIE / / / / / / / / / / / / / / */

/* Typo */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
	font-family: "Roboto", sans-serif;
}

/* Taille */
/* Font Scale */
:root{
	--size-xxs: clamp(0.51rem, -0.06vi + 0.52rem, 0.47rem);
	--size-xs: clamp(0.61rem, 0.05vi + 0.59rem, 0.63rem);
	--size-sm: clamp(0.73rem, 0.23vi + 0.67rem, 0.84rem);
	--size-base: clamp(0.88rem, 0.5vi + 0.75rem, 1.13rem);
	--size-md: clamp(1.05rem, 0.9vi + 0.83rem, 1.5rem);
	--size-lg: clamp(1.26rem, 1.48vi + 0.89rem, 2rem);
	--size-xl: clamp(1.51rem, 2.31vi + 0.94rem, 2.66rem);
	--size-xxl: clamp(1.81rem, 3.48vi + 0.95rem, 3.55rem);
	--size-xxxl: clamp(2.18rem, 5.12vi + 0.9rem, 4.73rem);
}
/* https://www.fluid-type-scale.com/calculate?minFontSize=14&minWidth=400&minRatio=1.2&maxFontSize=18&maxWidth=1200&maxRatio=1.333&steps=xxs%2Cxs%2Csm%2Cbase%2Cmd%2Clg%2Cxl%2Cxxl%2Cxxxl&baseStep=base&prefix=size&useContainerWidth=false&includeFallbacks=false&useRems=true&remValue=16&decimals=2&previewFont=Inter&previewText=Almost+before+we+knew+it%2C+we+had+left+the+ground&previewWidth=400 */

.xxxl{ font-size: var(--size-xxxl); }


body{ font-size: var(--size-base); }

h1 { font-size: var(--size-xxxl) ;}


/* Interligne */

p { line-height: 1.4; }

/* Interlettrage */

p { letter-spacing: 0.015em; }
h1 { letter-spacing: -0.012em; }




/* Couleur */
:root{

	/* --variables */
	--jazz-bleu: hsl(210, 90%, 62%);
	--jazz-bleu-dark: hsl(210, 90%, 30%);
}

body { color: var(--jazz-bleu-dark); }
h1 { color: var(--jazz-bleu); }


/* Mise en page */
img { max-width: 100%; }

#Affiche { height: 300px; }
#Parasol { width: 4rem; }